:root {
    /* --color-primary: #6366f1;
    --color-secondary: #8b5cf6;
    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
    --color-info: #3b82f6; */

    --background-color: #573824;
    --surface-color: #F0E8C2;
    
    --text-color-primary: #291B1A;
    --text-color-secondary: #573A37;
    --text-color-on-bg: #F0E8C2;

    /* --color-white: #ffffff;
    --color-black: #000000; */
}

.bg-image {
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
    background-size: cover;
    background-position: center;
}
#page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;

}

main {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 24px;
    background: var(--surface-color);
    border-radius: 24px;
    max-width: 800px;
    margin-top: 48px;
    
    img {
        width: 100%;
        margin: auto;
    }

}

section {
    /* background-color: red; */
    padding: 0 2rem;
}